:root {
    --header-dark: #8c530e;
    --header-light: #f3efeb;
}
.container {
   max-width: 90%;
   margin: 0 auto; 
   border-radius: 20px;
}
img {
    width: 100%;
}
.section-heading {
    text-align: center;
    font-size: 31px;
    color: var(--header-dark);
}
.topper {
    text-decoration: none;
    color: var(--header-dark);
    text-align: center;
}
.logo {
    width: 60px;
    height: 45px;
    background-color: var(--header-dark);
    color: var(--header-light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: "Edwardian Script";
    font-family: cursive;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 28px;
    background-color: var(--header-light);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.navvy {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 350px;
}
.navvy a,
.drawer-navvy a {
    text-decoration: none;
    color: var(--header-dark);
    font-size: 21px;
}
.drawer-navvy {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-left: 0;
    
}

.btn {
    height: 36px;
    background-color: var(--header-dark);
    border-radius: 16px;
    color: var(--header-light);
    border: none ;
}
.nav-drawer {
    position: absolute;
    top: 100px;
    right: 0;
    transform: translateX(220px);
    width: 180px;
    height: 250px;
    background-color: #fff;
    z-index: 5;
    display: none;
}

.hero {
height: 80vh;
position: relative;
background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),  url("images/handbags.jpg") no-repeat fixed center/cover;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}
.hero-text {
font-family: 'Sacramento', cursive;

text-align: center;
color: #fff;
text-shadow: 3px 3px 9px goldenrod;
}
.htext-top {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 500;
margin-bottom: 7px;
font-size: 60px;
animation: move-left 1s ease-in-out;

}
.htext-bottom {
margin-top: 0;
font-size: 38px;
animation: move-right 1s ease-in-out;

}
@keyframes move-left{
0% {
    transform: translateX(25px)
}
100% {
transform: translateX(0);
}
}
@keyframes move-right{
0% {
    transform: translateX(-25px)
}
100% {
    transform: translateX(0);
    }
}    
@keyframes flip1{
0% {
    transform: rotate(0);
}
100% {
    transform: rotate(45deg)  translateY(-1px);
}
}
@keyframes hide2{
0% {
    transform: scale(1);
    opacity: 1;
}
100% {
    transform: scale(0);
    opacity: 0;
}
}
@keyframes flip3{
0% {
    transform: rotate(0);
}
100% {
    transform: rotate(-45deg)  translateY(1px);
}
}
.bar1 {
    transform-origin: left;
}
.bar3 {
    transform-origin: left;
}
.flip1 {
    animation: flip1 1s ease-in-out;
    animation-fill-mode: forwards;
}
.hide2 {
    animation: hide2 1s ease-in-out;
    animation-fill-mode: forwards;
}
.flip3 {
    animation: flip3 1s ease-in-out;
    animation-fill-mode: forwards;
}

.hamburger {
    width: 45px;
    height: 27px;
    display: none;
}
.bar {
    width: 35px;
    height: 4px;
    background-color: #222;
}
.about .doc {
    background-color: bisque;
    padding: 70px;
}
.about .doc h2 {
    text-align: center;
}
.row-1 {
    display: flex;
    flex-flow: row-reverse;
}
.row-2 {
    display: flex;
}
.row-2:first-child {
    flex-flow: row-reverse;

}
.panel {
    width: 49%;
    padding: 2%;
}
#gallery img {
    width: 100%;
    height: 100%;
}

#gallery {
    display: grid;
    
    grid-template-areas: 
    "bag1 bag2 bag3 bag4"
    "bag5 bag6 bag7 bag8";
    max-width: 100%;
    gap: 15px;
}
#img-container1 {
    grid-area: bag1;

}
#img-container2 {
    grid-area: bag2;
}
#img-container3 {
    grid-area: bag3;
}
#img-container4 {
    grid-area: bag4;
}
#img-container5 {
    grid-area: bag5;
}
#img-container6 {
    grid-area: bag6;
}
#img-container7 {
    grid-area: bag7;
}
#img-container8 {
    grid-area: bag8;
}
.contacts {
    background-color: bisque;
    columns: var(--header-dark);
    padding: 50px;
}
.contacts p {
    text-align: center;
}
@media only screen and (max-width: 1080px) {
    .row-1 {
        flex-direction: column;
        width: 100%;
    }
    .row-2 {
        flex-direction: column;
    }
    .panel {
        width: 100%;
    }
    #gallery {     
       grid-template-areas: 
        "bag1 bag2"
        "bag3 bag4"
        "bag5 bag6"
        "bag7 bag8";
        max-width: 100%;
        
    }
    
} 

@media only screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .navvy {
        display: none;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    header {
        padding: 23px  50px;
    }
    .open-drawer {
        transform: translateX(0);
    }
    .nav-drawer {
        display: flex;
    }
    .navvy {
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
        align-items: center;
    }
    .btn {
        width: 100px;
    }
    #gallery {     
        grid-template-areas: 
         "bag1 bag1"
         "bag2 bag2"
         "bag3 bag3"
         "bag4 bag4"
         "bag5 bag5"
         "bag6 bag6"
         "bag7 bag7"
         "bag8 bag8";
         max-width: 100%;
         
     }
 
    
    
}
.footer {
    text-align: center;
    padding: 22px;
    background-color: var(--header-dark);
    color: var(--header-light);
    font-size: 13px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}